body {
  margin: 0;
  font-family: Monaco,Menlo,Ubuntu Mono,Consolas,source-code-pro,monospace,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-layout-header{
  background: #0483d4
}

#root{
  height: 100%;
}

.ant-upload.ant-upload-select{
  float:right;
}

.ant-upload-list.ant-upload-list-text{
  clear:both;
}